{% extends 'layout.twig' %}

{% block head %} CORRIDA | {{ article.news_title }} {% endblock %}

{% block title_facebook %} {{ article.news_title | raw }} | Corrida {% endblock %}
{% block content_facebook %} {{ article.news_seo | raw }} {% endblock %}
{% block image_facebook %} https://corrida.triathlons.fr/images/{{ article.image }} {% endblock %}
{% block link_facebook %} https://corrida.triathlons.fr/article-{{ article.news_id | markdown }} {% endblock %}

{% block title_twitter %} {{ article.news_title | raw }} | Corrida {% endblock %}
{% block content_twitter %} {{ article.news_seo | raw }}{% endblock %}
{% block image_twitter %} https://corrida.triathlons.fr/images/{{ article.image }} {% endblock %}
{% block link_twitter %} https://corrida.triathlons.fr/article-{{ article.news_id }} {% endblock %}

{# ZONE CONTENT #}
{% block content %}

    {% include 'header.twig' %}

    <div class="bloc-titre ombre">
        <div class="titre">{{ article.news_title | markdown }}
            <div class="bouton-return"><a href="Actualites" title="Retour à l'accueil">
                    <svg height="24" full="#ffffff" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 0h24v24H0z" fill="none"/>
                        <path d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z"/>
                    </svg></a>
            </div>
            <div class="link-facebook">
                <a href="http://www.facebook.com/share.php?u=http://corrida.triathlons.fr/actualite-{{ article.news_id }}" target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" full="#ffffff" width="13px" height="23.875px" viewBox="0 0 13 23.875">
                        <path d="M8.347,23.772V12.929h3.79l0.567-4.228H8.347V6.005c0-1.224,0.354-2.059,2.181-2.059h2.33
			V0.165C12.454,0.116,11.072,0,9.463,0C6.101,0,3.799,1.969,3.799,5.584v3.116H0v4.228h3.799v10.843H8.347z M8.347,23.772"/>
                    </svg>
                </a>
            </div>
            <div class="link-twitter">
                <a href="http://twitter.com/share?url=http://corrida.triathlons.fr/actualite-{{ article.news_id }}" target="_blank">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" full="#ffffff" width="24px" height="24px" viewBox="0 0 24 24">
                        <path d="M19.023,18.042h-5.88c-0.816,0-1.512-0.286-2.083-0.86c-0.574-0.575-0.856-1.271-0.856-2.091v-2.094h8.378
                            c0.754,0,1.406-0.271,1.946-0.811c0.541-0.544,0.813-1.193,0.813-1.951c0-0.759-0.271-1.408-0.813-1.949
                            c-0.543-0.541-1.195-0.813-1.954-0.813h-8.369V3.152c0-0.819-0.293-1.52-0.872-2.103C8.755,0.465,8.058,0.171,7.248,0.171
                            c-0.834,0-1.542,0.289-2.12,0.861C4.55,1.605,4.26,2.313,4.26,3.154v11.937c0,2.457,0.868,4.554,2.605,6.295
                            C8.603,23.13,10.699,24,13.147,24h5.878c0.817,0,1.518-0.293,2.101-0.878C21.71,22.54,22,21.839,22,21.021
                            c0-0.816-0.29-1.516-0.874-2.101C20.543,18.336,19.841,18.042,19.023,18.042L19.023,18.042z M19.023,18.042"/>
                    </svg>
                </a>
            </div>
            <div class="link-google">
                <a href="https://plus.google.com/share?url=http://corrida.triathlons.fr/actualite-{{ article.news_id }}" target="_blank">
                    <svg version="1.1" full="#ffffff" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24px" height="24px" viewBox="0 0 24 24">
                        <path d="M15.622,0H9.733C7.11,0,5.294,0.559,3.66,1.872C2.375,2.951,1.607,4.517,1.607,6.063c0,2.383,1.869,4.917,5.332,4.917
		c0.334,0,0.703-0.034,1.027-0.063l-0.047,0.112c-0.14,0.325-0.272,0.63-0.272,1.107c0,0.93,0.46,1.503,0.908,2.058l0.056,0.07
		l-0.1,0.007c-1.43,0.096-4.092,0.273-6.036,1.436C0.178,17.033,0,18.964,0,19.523C0,21.752,2.135,24,6.907,24
		c5.547,0,8.451-2.975,8.451-5.914c0.001-2.174-1.311-3.248-2.701-4.388l-1.175-0.888c-0.363-0.292-0.815-0.656-0.815-1.33
		c0-0.662,0.452-1.099,0.851-1.485l0.042-0.041c1.268-0.971,2.705-2.072,2.705-4.453c0-2.394-1.539-3.631-2.279-4.225h1.955
		c0.023,0,0.047-0.007,0.066-0.02l1.684-1.028c0.047-0.029,0.07-0.086,0.055-0.14C15.729,0.037,15.678,0,15.622,0L15.622,0z
		 M8.481,22.688c-3.381,0-5.653-1.534-5.653-3.82c0-1.492,0.929-2.576,2.76-3.223c1.465-0.479,3.357-0.502,3.376-0.502
		c0.32,0,0.482,0,0.737,0.031c2.367,1.637,3.504,2.496,3.504,4.134C13.205,21.393,11.396,22.688,8.481,22.688L8.481,22.688z
		 M8.45,10.102c-2.838,0-4.016-3.627-4.016-5.57c0-0.987,0.23-1.745,0.706-2.317C5.656,1.588,6.54,1.183,7.391,1.183
		c2.605,0,4.046,3.406,4.046,5.758c0,0.372,0,1.501-0.803,2.285C10.095,9.75,9.217,10.102,8.45,10.102L8.45,10.102z M8.45,10.102"/>
                        <path d="M23.873,11.21h-3.103V8.204c0-0.068-0.058-0.124-0.128-0.124h-1.334c-0.07,0-0.127,0.056-0.127,0.124v3.006h-3.087
		c-0.071,0-0.128,0.056-0.128,0.124v1.315c0,0.068,0.057,0.124,0.128,0.124h3.087v3.024c0,0.068,0.057,0.123,0.127,0.123h1.334
		c0.07,0,0.128-0.055,0.128-0.123v-3.024h3.103c0.07,0,0.127-0.056,0.127-0.124v-1.315C24,11.264,23.944,11.21,23.873,11.21
		L23.873,11.21z M23.873,11.21"/>
                    </svg>
                </a>
            </div>
        </div>
    </div>

    <div class="content">

        <div class="text">

            <div class="date">{{ article.news_date | localizeddate("medium", "none", null, null, "cccc, d LLLL yyyy") }}</div>

            {{ article.news_body | markdown }}

            <img src="images/{{ article.image }}" alt="">

        </div>

    </div>
{% endblock %}